.jumbotron {
    padding-top: 6rem;
    background-color: #E4CDA7;
  }
  
  #projects {
    background-color: #E4CDA7;
  }
  
  section {
    padding-top: 5rem;
  }
  .navbar {
      background-color: #E4CDA7;
  }
  .footer {
      background-color: #E4CDA7;
  }
  